#customize-controls .control-section-minimalisticky .accordion-section-title:hover,
#customize-controls .control-section-minimalisticky .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-minimalisticky .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-minimalisticky .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
.control-section-minimalisticky .accordion-section-title .button {
	margin-top: -4px;
	font-weight: 400;
	margin-left: 8px;
	background: #f19772;
	box-shadow: 0px 0px 0px;
	color: #fff;
	border-color: #c57a5b;
	font-weight: 700;
}